{% include "partials/head.njk" %}

<header>

  <p class="logo"><a href="/"><img src="/images/logo.svg" width="50" height="50" alt="11ty starter">11ty starter</a></p>

  <nav>
    {% navlist collections.all | eleventyNavigation, page, 1 %}
  </nav>

  <figure><img src="/images/{% if hero %}{{ hero }}{% else %}orb.jpg{% endif %}" width="400" height="300" alt="hero image!" /></figure>

</header>

<main>
{% block content %}

  <h1>{{ title }}</h1>

  {{ content | safe }}

{% endblock %}
</main>

<footer>

  <p class="github"><a href="https://github.com/craigbuckler/11ty-starter"><img src="/images/github.svg" width="50" height="50" alt="11ty starter">github.com/craigbuckler/11ty-starter</a></p>

  <nav>
    {% navlist collections.all | eleventyNavigation, page, 2 %}
  </nav>

</footer>

{% include "partials/foot.njk" %}
